In [1]:
from bs4 import BeautifulSoup as sp
import requests
import pandas as pd
from io import StringIO

In [2]:
url1 = "http://imantofagasta.cl/transparencia/paginas/Remunera.aspx?id=2"
url2 = "https://calamatransparencia.insico.cl/paginas/Remunera.aspx?id=2"

In [3]:
def convertScrapperToDf(url, idtable = "ctl00_ContentPlaceHolder1_gvContrata"):
    req = requests.get(url)
    soup = sp(req.text, 'html.parser')
    tabla = soup.find("table", id=idtable)
    data = []
    
    for row in tabla.find_all('tr'):
        row_data = []
        for cell in row.find_all(['th', 'td']):
            row_data.append(cell.get_text().strip())
        data.append(row_data)
    df = pd.DataFrame(data[1:], columns=data[0])
    return df

In [4]:
df_antof = convertScrapperToDf(url1)

In [5]:
df_antof.to_csv("Municipalidad_Antofagasta.csv")

In [6]:
df_antof.head(2)

,Estamento,Nombre Funcionario,Grado EUS,Calificación Profesional o Formación,Cargo o Función,Región,Unidad Monetaria,Remuneración Bruta Mensualizada,Bienios,Zona Extrema,Incentivos,Horas Extras,Bono Escolar,Aguinaldo Navidad,Otros Bonos,Remuneración Liquida Mensualizada,Horas Extraordinarias,Fecha de Inicio,Fecha de Término,Observaciones
0,PROFESIONAL,ACEVEDO ACEVEDO STEPHANNY CAROLINA,9,CONSTRUCTOR CIVIL,"2656. Según Reglamento N°2 de Estructura, Func...",II,PESOS,2.428.292,44.976,0,0,0,0,0,0,2.036.920,NO,01/09/2015,31/12/2024,SIN OBSERVACIONES
1,PROFESIONAL,AEDO ARANCIBIA JUANA ELSA,11,TRABAJADOR SOCIAL,"2680. Según Reglamento N°2 de Estructura, Func...",II,PESOS,1.752.336,0,0,0,0,0,0,0,1.378.722,NO,01/01/2023,31/12/2024,SIN OBSERVACIONES

In [7]:
df_calama = convertScrapperToDf(url2)

In [8]:
df_calama.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143 entries, 0 to 142
Data columns (total 29 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Ano                                   143 non-null    object
 1   Mes                                   143 non-null    object
 2   Estamento                             143 non-null    object
 3   Calidad Juridica                      143 non-null    object
 4   Nombre Funcionario                    143 non-null    object
 5   Grado EUS                             143 non-null    object
 6   Calificación Profesional o Formación  143 non-null    object
 7   Cargo o Función                       143 non-null    object
 8   Región                                143 non-null    object
 9   Asignaciones Especiales               143 non-null    object
 10  Unidad Monetaria                      143 non-null    object
 11  Remuneración Bruta Mensualizada       143 non-null    object
 12  Incentivo                             143 non-null    object
 13  Zona Extrema                          143 non-null    object
 14  Remuneración Liquida Mensualizada     143 non-null    object
 15  Horas Extraordinarias                 143 non-null    object
 16  Total Horas Extraordinarias           143 non-null    object
 17  Numero Horas Dirunas                  143 non-null    object
 18  Remuneracion Horas Diurnas            143 non-null    object
 19  Numero Horas Nocturnas                143 non-null    object
 20  Remuneracion Horas Nocturnas          143 non-null    object
 21  Numero Horas Festivas                 143 non-null    object
 22  Remuneracion Horas Nocturnas          143 non-null    object
 23  Fecha de Inicio                       143 non-null    object
 24  Fecha de Término                      143 non-null    object
 25  Observaciones                         143 non-null    object
 26  Declaracion de Patrimonio             143 non-null    object
 27  Declaracion de Intereses              143 non-null    object
 28  Viaticos                              143 non-null    object
dtypes: object(29)
memory usage: 32.5+ KB

In [9]:
df_calama.head(2)

,Ano,Mes,Estamento,Calidad Juridica,Nombre Funcionario,Grado EUS,Calificación Profesional o Formación,Cargo o Función,Región,Asignaciones Especiales,...,Numero Horas Nocturnas,Remuneracion Horas Nocturnas,Numero Horas Festivas,Remuneracion Horas Nocturnas,Fecha de Inicio,Fecha de Término,Observaciones,Declaracion de Patrimonio,Declaracion de Intereses,Viaticos
0,2024,3,ADMINISTRATIVOS,CONTRATA,ALARCON GODOY LUIS ALBERTO,16,ENSEÑANZA MEDIA,ADMINISTRATIVO,II,(2)(6),...,0,0,0,0,03/07/2018,31/12/2024,,0,0,0
1,2024,3,ADMINISTRATIVOS,CONTRATA,ALCOTA ALCOTA EDWARDS PATRICIO,16,ENSEÑANZA MEDIA,INSPECTOR MUNICIPAL,II,(2)(6),...,0,0,0,0,06/11/2017,31/12/2024,,0,0,12243

In [10]:
df_calama.to_csv("Municipalidad_Calama.csv")